body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/jiujtsu.png') no-repeat center center/cover; /* Imagem de fundo de Jiu-Jitsu */
}
.img-div{
width:300px;
height:100px;
margin-bottom: 10px;
position:relative;
left: 190px;
bottom:220px;
}

.img-div a{
width:300px;
height:100px;}

.img-div img{
width:300px;
height:100px;
object-fit:fill;
}

.contact-form {
    background-color: ##f2f2f2;
    padding: 30px;
    border: 2px solid ##f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position:relative;
    right:190px;
    top:10px;
}

.contact-form h2 {
    font-size: 1.8em;
    color: black;
    margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #f2f2f2   ;
    border-radius: 3px;
    font-size: 1em;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form input[type="submit"] {
    background-color: white;
    color: Black;
    border: none;
    padding:1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    font-weight: bolder;
}

.contact-form input[type="submit"]:hover {
    background-color: #0097a7;
}

.contact-form .icon {
    margin-left: 10px;
    vertical-align: middle;
}
