<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academia de Jiu-Jitsu</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"></head>

<body>
    <header>
        <div class="container">
            <div class="img-div"><img src="{{ url_for('static', filename='img/logosquared.png') }}"></div>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/">Sobre</a></li>
                    <li><a href="/">Aulas</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li><a href="/">Localização</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h2>Descubra o Poder do Jiu-Jitsu</h2>
            <p>Aprenda técnicas eficazes de defesa pessoal e melhore sua saúde física e mental.</p>
            <a href="#" class="cta-button">Ver Aulas</a>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <h2>Sobre Nós</h2>
            <p>Somos uma academia dedicada ao ensino do Jiu-Jitsu, oferecendo treinamentos para todas as idades e níveis de habilidade. Nossa missão é promover os benefícios dessa arte marcial milenar.</p>
        </div>
    </section>

    <section class="menu">
        <div class="container">
            <h2>Nossas Aulas</h2>
            <div class="menu-items">
                <div class="menu-item">
                    <h3>Jiu-Jitsu Tradicional</h3>
                    <p>Desenvolva sua técnica e resistência com nosso programa de Jiu-Jitsu.</p>
                </div>
                <div class="menu-item">
                    <h3>Jiu-Jitsu Infantil</h3>
                    <p>Aulas divertidas e educativas para crianças aprenderem Jiu-Jitsu.</p>
                </div>
                <div class="menu-item">
                    <h3>Jiu-Jitsu Avançado</h3>
                    <p>Aprofunde seus conhecimentos com nossa aula avançada de Jiu-Jitsu.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Academia de Jiu-Jitsu. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
